In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

ModuleNotFoundError: No module named 'pandas'

In [31]:
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

In [26]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [27]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df_iter = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [33]:
first = True
row_counter = 0
for df_chunk in df_iter:

    row_counter += df_chunk.shape[0]
    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk['VendorID'] = df_chunk['VendorID'].fillna(0)
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )
    print(f'\t{row_counter:,.2d} rows inserted.')

Table created
100,000.00 rows inserted.
200,000.00 rows inserted.
300,000.00 rows inserted.
400,000.00 rows inserted.
500,000.00 rows inserted.
600,000.00 rows inserted.
700,000.00 rows inserted.
800,000.00 rows inserted.
900,000.00 rows inserted.
1,000,000.00 rows inserted.
1,100,000.00 rows inserted.
1,169,765.00 rows inserted.

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow-taxi-data', con=engine)